<div class="container">

    <div class="content">
        <h1>Contact and Return Page</h1>
        <p>
            We always strive to restore the quality and timelessness of a piece of clothing, offering good 
            finishing and durability. However, if you are not satisfied for any reason, we will exchange 
            or return your product according to the terms of our Exchange and Return Policy, drafted in 
            compliance with current legislation (CDC).
        </p>

        <p>
            We provide a period of 10 days after the product is received by the customer to process 
            exchanges and returns. Any contact with StyleStreet regarding exchange and/or return of our 
            items should be made via email: trocasedevolucoes.com, including the full name 
            and order number. Our customer service hours are <a href="" class="highlight">Monday to Friday, from 10:00 AM to 5:00 PM</a>
        </p>

        <p>
            Any other means of contact will be considered invalid and will not be used to prove or 
            count any deadlines provided by law. After this contact, the customer will receive a reverse 
            logistics code for shipping via the nearest post office.
            The item must be returned with the tag, in its original packaging, with all the accessories it came with 
            and without any signs of use.
        </p>

        <p>
            Washed products, those with odors, stains, or that have been altered will not be accepted. In this case, 
            the item will be returned, and the exchange or return cannot be processed.
        </p>

    </div>
</div>

<script>

    function highlightText(word) {
        const highlightedWords = document.querySelectorAll(`.highlight`);
        highlightedWords.forEach(function (element) {
            element.style.backgroundColor = "#f3770a";
            element.style.fontWeight = "bold";
        });
    }
    
    highlightText();
</script>
