    <div class="container">

        <div class="content">
            <h1>Página de Contato e Devolução</h1>
            <p>

                <p>
                    Sempre buscamos resgatar a qualidade e a atemporalidade de uma peça de roupa, oferecendo um bom 
                    acabamento e durabilidade. No entanto, se você não ficou satisfeito por algum motivo, faremos a troca 
                    ou devolução do seu produto, de acordo com as disposições da nossa Política de Troca e Devoluções, 
                    redigida a partir da legislação vigente (CDC).
                </p>


<p>
    Disponibilizamos o prazo de 10 dias após o recebimento do produto pelo cliente, para processarmos 
    trocas e devoluções. Qualquer contato com a StyleStreet em relação a troca e/ou devolução das nossas 
    peças deverá ser realizado através do email: trocasedevolucoes.com , com o nome completo
    e número do pedido. Nosso horário de atendimento é de segunda à sexta, das 10:00 às 17:00.
</p>


<p>
    Qualquer outro meio será considerado inapto e não servirá para comprovação e/ ou contagem 
    de quaisquer prazo previsto em lei. Após esse contato, o 
    cliente receberá um código de logística reversa para envio através da agência dos Correios mais próxima.
    A peça deverá ser devolvida com a etiqueta,
    na sua embalagem original, com todos os acessórios que a acompanha 
    e sem apresentar quaisquer indícios de uso.
</p>

 <p>
    Não serão aceitos produtos lavados, com odores, manchas ou que tenham sido alterados. Nesse caso,
     a peça será devolvida e a troca ou devolução não poderá ser feita. 
 </p>


        </div>
    </div>

    <script>
        // Função para destacar palavras
        function highlightText(word) {
            const highlightedWords = document.querySelectorAll(`.highlight`);
            highlightedWords.forEach(function (element) {
                element.style.backgroundColor = "#ff0";
                element.style.fontWeight = "bold";
            });
        }
        
        highlightText();
    </script>



