<div class="page-info"></div>

<div id="shop-container">

  <div class="filters">

    <div class="filter-category">
      <h3>Product Categories</h3>
      <ul>
        <li (click)="filterCategory = 'LOW'; filterByCombination(filterCategory, filterModel)" 
            [class.active]="filterCategory === 'LOW'" data-category="LOW">
          <label>LOW</label>
        </li>
        <li (click)="filterCategory = 'MID'; filterByCombination(filterCategory, filterModel)" 
            [class.active]="filterCategory === 'MID'" data-category="MID">
          <label>MID</label>
        </li>
        <li (click)="filterCategory = 'HIGH'; filterByCombination(filterCategory, filterModel)" 
            [class.active]="filterCategory === 'HIGH'" data-category="HIGH">
          <label>HIGH</label>
        </li>
      </ul>
    </div>

    <div class="filter-price">
      <h3>Pricing</h3>

      <button (click)="filterPrice = 'highPrice'" [class.active]="filterPrice === 'highPrice'">
        High Price
      </button>
      <button (click)="filterPrice = 'lowPrice'" [class.active]="filterPrice === 'lowPrice'">
        Low Price
      </button>
      <button (click)="filterPrice = 'highAvaliation'" [class.active]="filterPrice === 'highAvaliation'">
        Better Avaliations
      </button>

    </div>
  

    <div class="filter-model">
      <h3>MODEL</h3>
      <ul>
        <li (click)="filterModel = 'Basketball'; filterByCombination(filterCategory, filterModel)" 
            [class.active]="filterModel === 'Basketball'" data-model="Basketball">
          <label>Basketball</label>
        </li>
        <li (click)="filterModel = 'Casual'; filterByCombination(filterCategory, filterModel)" 
            [class.active]="filterModel === 'Casual'" data-model="Casual">
          <label>Casual</label>
        </li>
        <li (click)="filterModel = 'Fashion'; filterByCombination(filterCategory, filterModel)" 
            [class.active]="filterModel === 'Fashion'" data-model="Fashion">
          <label>Fashion</label>
        </li>
        <li (click)="filterModel = 'Running'; filterByCombination(filterCategory, filterModel)" 
            [class.active]="filterModel === 'Running'" data-model="Running">
          <label>Running</label>
        </li>
        <li (click)="filterModel = 'Football'; filterByCombination(filterCategory, filterModel)" 
            [class.active]="filterModel === 'Football'" data-model="Football">
          <label>Football</label>
        </li>
      </ul>
    </div>

    <div class="reset-filters">
      <button (click)="resetFilters()">Reset Filters</button>
    </div>
  

  </div>
  
  <div class="product-list">

    <div class="filter-bar">

      <div class="showing">

        <ng-container *ngIf="isCombinedFilter; else singleFilter">

          <ng-template #multipleFilters>

            <p>Showing {{ (filteredProductCount > currentLimit ? currentLimit : filteredProductCount) }} of {{ currentLimit }} item(s)</p>
          </ng-template>
         
          <ng-container *ngTemplateOutlet="multipleFilters"></ng-container>
        </ng-container>
      

        <ng-template #singleFilter>
          
          <p>Showing {{ ((products | FilterCategory: filterCategory | FilterPrice: filterPrice | FilterModel: filterModel).length > currentLimit ? currentLimit : (products | FilterCategory: filterCategory | FilterPrice: filterPrice | FilterModel: filterModel).length) }} of {{ currentLimit }} item(s)</p>
        </ng-template>
      </div>
      
      
  
      <div class="filter-options">
        <div class="show">
          <p> Show </p>

          <button mat-button [matMenuTriggerFor]="menu">
            {{ currentLimit }} <i class="fa-solid fa-chevron-down"></i>
          </button>
      
          <mat-menu #menu="matMenu">
            <button 
              *ngFor="let limit of limits" 
              mat-menu-item 
              class="Chosen" 
              (click)="changeLimit(limit)">
              {{ limit }} 
            </button>
          </mat-menu>
          

        </div>
      </div>
      
  
    </div>


    <div class="products">
      <div  class="product-card" *ngFor="let product of (products | FilterCategory: filterCategory | FilterPrice: filterPrice | FilterModel: filterModel)
                                      .slice(0, currentLimit)">
        <img (click)="singleProductPage(product.id_product)"   [src]="product.image" alt="{{ product.p_name }}" class="product-image"/>
        <div class="product-details">

            <div class="name-avaliation">
              <h3>{{ product.p_name }}</h3>
              <h3 class="aval"> <i class="fa-solid fa-star"></i> ({{ product.avaliation }}) </h3>
            </div>

            <div class="price-add-cart">
              <p><strong>$ {{ product.price  }}</strong></p>

              <div class="favorite-and-add-cart">
                <i class="fa-solid fa-heart" id="heart" (click)="addFavorites( product )"></i>
                <button class="addCart" (click)="addToCart(product)"><i class="fa-solid fa-cart-plus"></i></button>
              </div>
              
            </div>

        </div>
      </div>
    </div>  


  </div>
  
    </div>