<div class="page-info"></div>

<div id="shop-container">

  <div class="filters">

    <div class="filter-category">
      <h3>Product Categories</h3>
      <ul>
        <li (click)="filterCategory = 'LOW'" [class.active]="filterCategory === 'LOW'"><label >LOW </label></li>
        <li (click)="filterCategory = 'MID'" [class.active]="filterCategory === 'MID'"> <label>MID</label></li>
        <li (click)="filterCategory = 'HIGH'" [class.active]="filterCategory === 'HIGH'"><label >HIGH </label></li>
      </ul>
    </div>
  

    <div class="filter-price">
      <h3>Pricing</h3>

      <button (click)="filterPrice = 'highPrice'" [class.active]="filterPrice === 'highPrice'">
        High Price
      </button>
      <button (click)="filterPrice = 'lowPrice'" [class.active]="filterPrice === 'lowPrice'">
        Low Price
      </button>
      <button (click)="filterPrice = 'highAvaliation'" [class.active]="filterPrice === 'highAvaliation'">
        Better Avaliations
      </button>

    </div>
  

    <div class="filter-model">
      <ul>

      <h3>MODEL </h3>
        <li (click)="filterModel= 'Basketball' " [class.active]="filterModel === 'Basketball'"><label >Basketball </label></li>
        <li (click)="filterModel = 'Casual'  " [class.active]="filterModel === 'Casual'"><label >  Casual   </label></li>
        <li (click)="filterModel = 'Fashion'  " [class.active]="filterModel === 'Fashion'"><label >  Fashion   </label></li>
        <li (click)="filterModel = 'Running'  " [class.active]="filterModel === 'Running'"><label >  Running   </label></li>
      </ul>

    </div>

    <div class="reset-filters">
      <button (click)="resetFilters()">Reset Filters</button>
    </div>
  

  </div>
  
  <div class="product-list">

    <div class="filter-bar">

      <div class="showing">

  
        <p>Showing   {{ currentLimit }} of {{ products.length }} Item (s)</p>
      </div>
  
      <div class="filter-options">
        <div class="show">
          <p> Show </p>

          <button mat-button [matMenuTriggerFor]="menu">
            {{ currentLimit }} <i class="fa-solid fa-chevron-down"></i>
          </button>
      
          <mat-menu #menu="matMenu">
            <button class="Chosen" mat-menu-item (click)="changeLimit(8)"> 8 </button>
            <button class="Chosen" mat-menu-item (click)="changeLimit(10)"> 10 </button>
            <button class="Chosen" mat-menu-item (click)="changeLimit(14)"> 14 </button>
          </mat-menu>
        </div>
      </div>
      
  
    </div>


    <div class="products">
      <div  class="product-card" *ngFor="let product of products.slice(0, itensByPage) | FilterCategory: filterCategory | FilterPrice: filterPrice  | FilterModel: filterModel">
        <img (click)="singleProductPage(product.id_product)"   [src]="product.image" alt="{{ product.p_name }}" class="product-image"/>
        <div class="product-details">

            <div class="name-avaliation">
              <h3>{{ product.p_name }}</h3>
              <h3 class="aval"> <i class="fa-solid fa-star"></i> ({{ product.avaliation }}) </h3>
            </div>

            <div class="price-add-cart">
              <p><strong>$ {{ product.price  }}</strong></p>
              <button class="addCart" (click)="addToCart(product)"><i class="fa-solid fa-cart-plus"></i></button>
            </div>

        </div>
      </div>
    </div>  


  </div>
  
    </div>