.page-info {
  height: 570px;
  width: 100%;
  background: url('/assets/img/About.png');
  background-size: cover;
}

.our-story {
    margin: 30px 0;
}

.our-story h4 {
    font-size: 23px;
    color: #2A2C33;
    margin-left: 90px;
    padding: 20px 0;
}

.our-story-box {
  height: 450px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  background: #F7F7F7;
  align-items: center;
  padding: 0 0 0 45px;
  justify-content: space-between;
}

.box {
    height: 450px;
    width: 100%;
    background: #F7F7F7;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-left: 100px;
}

.journey {
    width: 60%;
    height: 80%;
    display: flex;
}

.journey .journey-img {
    height: 100%;
    width: 40%;
    background: url('/assets/img/ModelOne.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.journey .journey-content {
    height: 100%;
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.journey .journey-content h1 {
    color: #1C1E25;
    padding: 12px;
    font-size: 40px;
    line-height: 47.1px;
}

.journey-content p {
    color: #8B8C8F;
    margin: 0 auto;
    padding: 15px;
    letter-spacing: 0.25px;
}


.journey-content a {
    border: none;
    padding: 25px 45px;
    border-radius: 35px;
    background: #f3770a;
    color: #fff;
    text-decoration: none;
}

.image {
    height: 100%;
    width: 500px;
    background: url('/assets/img/ModelTwo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.our-commitment {
    display: flex;
    flex-direction: row;
    margin: 80px auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.our-commitment-content {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-commitment h1 {
    color: #1C1E25;
    padding: 12px;
    font-size: 53px;
    line-height: 61.1px;
    font-weight: 500;
}

.our-commitment p {
    color: #8B8C8F;
    margin: 0 auto;
    padding: 15px 0;
    width: 80%;
    letter-spacing: 0.25px;
}

.our-commitment a {
    border: none;
    padding: 25px 45px;
    border-radius: 35px;
    background: #f3770a;
    color: #fff;
    text-decoration: none;
}

.our-commitment-images {
    height: 600px;
    width: 35%;
    position: relative;
}

  .image-1, .image-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .image-1 {
    background: url('/assets/img/ModelFive.jpg');
    background-size: cover;
    background-position: center center;
    z-index: -1;
    top: 10px;
    left: -35px;
    width: 55%;
    height: 55%;
    border-radius: 15px;
  }
  
  .image-2 {
    background: url('/assets/img/Model3.png');
    background-size: cover;
    background-position: center left;
    z-index: 1;
    top: 115px;
    left: 200px;
    height: 55%;
    width: 55%;
    border-radius: 15px;
  }
  
  .our-customer-say {
    margin: 80px;
  }

  .our-customer-say-presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
    align-items: center;
  }

  .our-customer-say-title {
    width: 350px;
  }

  .our-customer-say-title h4 {
    color: #B5B5B7;
  }

  .our-customer-say-title h1 {
    color: #1C1E25;
    font-size: 45px;
  }

  .our-customer-say .buttons {
    display: flex;
    flex-direction: row;
    gap: 45px;
  }

  .our-customer-say .buttons button {
    border: none;
    padding: 22px;
    background: #f3770a;
    border-radius: 50%;
    color: #fff;
  }  

.our-customer-comments {
    height: 450px;
    width: 80%;
    border-radius: 15px;
    background: #F7F7F7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 120px auto;
}

.comment-by-customer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.comment-by-customer p {
  color: #575A5E;
  font-size: 18px;
  font-weight: bolder;
  width: 480px;
}

.comment-by-customer span {
  margin: 45px 0 0 -330px;
  color: #86898B;
  text-transform: lowercase;
  font-size: 14px;
}

.img-customer {
    height: 100%;
    width: 30%;
    border-radius: 15px;
    background: url('/assets/img/ModelFour.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.customer-slider-status {
   display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 326px;
    margin: 45px 0;
}

.customer-name .name {
  font-size: 30px;
  color: #5A5D61;
}

.customer-name .caarer {
  color: #86898B;
}

.quoteIcon {
    position: relative;
    left: 95%;
    font-size: 30px;
    background: #EBEAF3;
    width: 46px;
    height: 45px;
    top: -10px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.quoteIcon i {
  padding: 13px;
}