<div class="container">

    <div class="page-info"></div>

    <div class="our-story">
        <h4>Our Story </h4>

        <div class="our-story-box ">
            <div class="journey">

                <div class="journey-img">

                </div>

                <div class="journey-content">
                    <h1> Our Sneaker Journey </h1>

                    <p>
                        Sneaker Story began with a Love for Sneakers, we've envolved, into a hub
                        for innovation, Style, and Community, Uniting Enthusiasts Globally with our
                        Curated Selection, and Passion-Driven Approach.
                    </p>

                    <a href="">Lets Go  <i class="fa-solid fa-arrow-right"></i> </a>
                </div>

            </div>
            <div class="image"></div>
        </div>
    </div>

    <div class="our-commitment">
        <div class="our-commitment-images">
            <div class="image-1"></div>
            <div class="image-2"></div>
        </div>

        <div class="our-commitment-content">
            <h1>Our Commitment to Sneaker Culture</h1>
            <p>
                At Sneak, We're Deeply Commited, to Fostering, Sneaker Culture. 
                Though Our Curated  Collections and Passion-Driven Approach,
                We Celebrate Innovation, Style,  and the Global Community Of 
                Sneaker Enthusiasts .
            </p>

            <a href=""> Lets Go <i class="fa-solid fa-arrow-right"></i> </a>
        </div>

    </div>

    <div class="our-customer-say">
        <div class="our-customer-say-presentation">
            <div class="our-customer-say-title">
                <h4> Our Customey say </h4>
                <h1>What Our Customey say  </h1>
            </div>
    
            <div class="buttons">
                <button><i class="fa-solid fa-arrow-left"></i></button>
                <button><i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>

        <div class="our-customer-comments">

            <div class="img-customer">
                <div class="quoteIcon"><i class="fa-solid fa-quote-left"></i></div>
            </div>

            <div class="comment-by-customer">
                <p> 
                    As a Sneaker Enthusiast, i Appreciat the Attention to
                    Detail and quality the snekaer haven's Collection. Each 
                    pair Feels Like a work of Art ! "

                </p>

                <span> 10/10 Recommended </span>

                <div class="customer-slider-status">
                    <div class="customer-name">
                        <div class="name">Jhon M </div>
                        <div class="caarer "> Market Analitics </div>
                    </div>
                    <div class="slider-status">1  5 </div>
                </div>

            </div>


        </div>

    </div>

</div>