.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    height: 10vh;
  }
  
  .footer {
    height: 10vh; 
  }
  
  .main-content {
    flex: 1; 
    padding: 20px;
    overflow: auto;
  }
  
  .container-highlights {
    display: flex;
  }

  .container-highlights{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-direction: row;
  }

  .container-highlights .title-box h1 {
    font-size: 110px;
  }

  .container-highlights .title-box .element {
    height: 10px;
    width: 190px;
    border: 10px solid #f3770a;
    padding: 20px;
    border-radius: 25px;
    margin-top: 10px;
  }

  .product-image {
    width: 50%;
  }

  .title-box {
  display: flex;
  flex-direction: column;
  margin: 10% auto;
  width: 50%;
    justify-content: center;
    align-items: center;
}

 .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
 }

.text-apresentation  p {
  width: 40%;
  color: #ccc;
  margin: 0 auto;
  text-align: start;
}

.text-apresentation {
    display: flex;
    justify-content: space-between;
}

.text-apresentation button {
  border: none;
  padding: 20px 40px;
  border-radius: 25px;
  background: #f3770a;
  color: #fff;
  cursor: pointer;
}

.text-apresentation button:hover {
  transition: 300ms;
  background: #e98d3d;
}

.title-and-arrow  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 90px;
}

.title-box-arrow h2 {
    font-size: 60px;
    color: #49494C;
    font-weight: 500;
}

.arrow-box  button {
  border: none;
    width: 50px;
    height: 50px;
    background: #f3770a;
    border-radius: 50%;
    color: #fff;
    margin: 10px;
    cursor: pointer;
}

.arrow-box  button.active {
  background: #fbca9e;
  border: 1px solid #f3770a;
}


.swiper-container {
  width: 100%;
  overflow: hidden;  
  padding: 0 20px;  
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  padding: 0 5px;
  box-sizing: border-box;
  flex-shrink: 0; 
  width: 245px; 
  margin: 0;
}


.product-card {
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  width: 245px; 
  height: 460px; 
}

.product-image {
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  height: auto;
  background: url(/assets/img/LandingPageImg.webp);
  height: 715px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.product-details {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.name-avaliation {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 15px;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.name-avaliation h3 {
  font-size: 20px;
  color: #898484;
}

.name-avaliation .aval {
  font-size: 12px;
}

.name-avaliation i {
  color: #F08910;
  font-size: 19px;
}

.price-add-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

#heart-icon {
  font-size: 25px;
  color: #f3770a;
  cursor: pointer;
}

#heart-icon:hover  {
  transition: 300ms;
  color: #898484;
}

.price-add-cart strong {
  font-size: 19px;
  color: #54565A;
}

.addCart {
  background-color: #f3770a;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 50%;
}

.product-details h3 {
  font-size: 1.2em;
}

.product-details p {
  font-size: 0.9em;
}

button:hover {
  transition: 600ms;
  background-color: #a09a9a;
}

.swiper-pagination {
  text-align: center;
  margin-top: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
.best-seller-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 90px;
}

.best-seller {
  margin: 120px 0;
}

.best-seller-title h2 {
  font-size: 60px;
    color: #49494C;
    font-weight: 500;
}

.best-seller-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.best-seller-four-elements {
  margin: 30px;
  background: #fff;
  width: 50%;
  display: grid;  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.best-seller-four-elements > div {
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  margin: 30px ;
}

.best-seller-main-element {
  margin: 60px;
  width: 50%;
  border-radius: 15px;
}

.best-seller-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.best-seller-card img {
  height: 220px;
  border-radius: 15px;
}

.best-seller-card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  gap: 40px;
}

.best-seller-card-info h3 {
  color: #49494C;
  font-size: 20px;
}

.best-seller-card-info p {
  color: #ffa500;
    font-size: 20px;
    font-weight: 700;
}

.best-seller-main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.best-seller-main-card img {
  height: 630px;
}

.main-card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    margin: 30px 0;
}
.main-card-info h3 {
  font-size: 40px;
    color: #49494C;
}

.main-card-info p {
  color: #ffa500;
  font-weight: 700;
  font-size: 45px;
}