<div class="layout">

    <div class="main-content">

    <div id="highlight-product" >

        <div class="container-highlights">
            <div class="title-box">

                <div class="title">
                    <div class="Sh">
                        <h1>Sh</h1>
                    </div>
                
                    <div class="element">
                        <div class="circle"></div> 
                    </div>
                
                    <div class="es">
                        <h1>es</h1>
                    </div>
                </div>
                
                <div class="collect">
                    <h1>Collect !</h1>
                </div>

                <div class="text-apresentation">
                    <p>Discover Our Stylish and Comfortable  shoes, perfect for Every 
                        occasiation and need. 
                    </p>

                    <button routerLink="/shop"> <h4>Shop Now</h4> </button>
                </div>
                
            
            
            </div>

            <div class="product-image">
                


            </div>
        </div>
    </div>


    <div class="trending-products">
        <div class="title-and-arrow">
            <div class="title-box-arrow">
                <h2>Trending Products</h2>
            </div>
    
            <div class="arrow-box">
                <button 
                  class="custom-prev" 
                  [ngClass]="{'active': isActivePrev}" 
                  (click)="toggleActive('prev')">
                  <i class="fa-solid fa-arrow-left"></i>
                </button>
                <button 
                  class="custom-next" 
                  [ngClass]="{'active': isActiveNext}" 
                  (click)="toggleActive('next')">
                  <i class="fa-solid fa-arrow-right"></i>
                </button>
              </div>
              
    
    </div>
    
        <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let product of products">
                <div class="product-card">
                  <img [src]="product.image" alt="{{ product.p_name }}" class="product-image" (click)="singleProductPage(product.id_product)"/>
                  <div class="product-details">
                    <div class="name-avaliation">
                      <h3>{{ product.p_name }}</h3>
                      <h3 class="aval"><i class="fa-solid fa-star"></i> ({{ product.avaliation }})</h3>
                    </div>
                    <div class="price-add-cart">
                      <p><strong>$ {{ product.price }}</strong></p>
                      <i class="fa-solid fa-heart" id="heart-icon" (click)="addFavorites( product )"></i>
                      <button class="addCart" (click)="addToCart(product)"><i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
          
    </div>

    <div class="best-seller">

      <div class="best-seller-title">
        <h2> Best Seller </h2>
    </div>

    <div class="best-seller-grid">
      <div class="best-seller-four-elements">

        <div class="best-seller-card" *ngFor="let product of bestSellers.slice(1, 5); let i = index">
          <img src="{{ product.image }}" alt="" (click)="singleProductPage(product.id_product)" style="cursor: pointer;">

          <div class="best-seller-card-info">
            <h3> {{ product.p_name }} </h3>
            <p> {{ product.price | currency  }} </p>
          </div>

        </div>

    </div>

      <div class="best-seller-main-element">
        <div class="best-seller-card" *ngFor="let product of bestSellers let i = index">

          <div class="best-seller-main-card" *ngIf="i=== 0">
            <img src="{{ product.image }}" alt="" (click)="singleProductPage(product.id_product)"  style="cursor: pointer;">

            <div class="main-card-info">
              <h3> {{ product.p_name }} </h3>
              <p> {{ product.price | currency  }} </p>
            </div>

          </div>

        </div>

      </div>


  </div>


    </div>

    <div class="technology">
      
    </div>

    </div>
    
</div>


