
 .container-blog {
    display: flex;
    margin: 30px;
    justify-content: space-between;
}
.left-column {
    width: 120%;
    margin-left: 5%;
}
.right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    padding: 33px;
}
.post-block {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: start;
}
.post-block img {
    width: 30%;
    max-width: 100%;
    height: auto; 
    display: block;
}

.post-block h3 {
    font-size: 25px;
    text-decoration: none;
    color: #333;
}

.post-block h3, .post-block p {
    margin: 0 auto;
    padding: 35px 0 0 0;
}

.post-block p {
    padding: 20px;
    max-width: 100%;
    color: #ccc;
}

.post-block div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    width: 35%;
}

.recent-post {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    height: 125px;
    padding: 25px;
    gap: 20px;
    align-items: start;
    border-bottom: 1px solid #ccc;
}
.recent-post img {
    width: 75px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
}

.recent-posts {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    cursor: pointer;
    padding: 20px
}

.recent-posts h3 {
    font-size: 25px;
    font-family: "Poppins";
    text-transform: uppercase;
    color: #7d7878;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.recent-post-content {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

.recent-post-content a {
    color: gray;
    text-decoration: none;
    font-size: 20px;
}

.recent-post-content p {
    font-size: 10px;
    font-weight: 500;
    color: #333;
}

.categories h3 {
    font-size: 30px;
    text-transform: capitalize;
    color: #7d7878;
    margin-bottom: 30px;
    border-bottom: 1px solid #cccc;
    width: 100%;
    text-align: center;
}

button {
    border: none;
    padding: 10px 15px;
    background: #f3770a;
    border-radius: 5px;
    color: #FFF;
    margin: 0 auto;
    cursor: pointer;
}

.categories {
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories ul  {
    font-size: 20px;
    color: #ccc;
    padding: 10px 0;
    cursor: pointer;
}

.categories ul:hover {
    transition: 600ms;
    color: #f3770a;
}
