<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>

</head>
<body>

  <div class="card">
    <h2> Register </h2>
    <form action="#" method="post">
      <input type="text" name="username" placeholder="Username" required>
      <input type="text" name="first_name" placeholder="First Name" required>
      <input type="text" name="last_name" placeholder="Last Name" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Senha" required>
      <input type="password" name="confirm_password" placeholder="Confirmar Senha" required>
      <button type="submit"> Submit </button>
    </form>
  </div>

</body>
</html>
