body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #141212;
    padding: 90px 20px;
    border-top: 1px solid #ddd;
    text-align: center;
}

.container-phrase {
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #7A7A7B;
    border-left: none;
    padding: 10px;
}

.container-info {
    width: 20%;  
    border: 1px solid #7A7A7B;
    border-right: none;
    padding: 10px;
}

.title h3 {
    font-size: 40px;
}

.pages {
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 0 0 0 10%;
}

.pages ul {
    list-style-type: none;
    color: #fff;
}

.pages ul li {
    padding: 15px;
    font-weight: 500;
}

.container-phrase h1 {
    font-size: 105px;
    color: #fff;
}

h3 {
    color: #f3770a;
}

.footer-content {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    height: 50vh;
}

.social-links {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 25% 0 0 5%;
}

.social-links a {
    color: #ffffff;
    margin: 0 10px;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid #464544;
    background: #262424;
    height: 40px;
    width: 40px;
    text-align: center;
}

.social-links a i {
    font-size: 20px;
}

.social-links a:hover {
    color: none;
}
