Resetando margens e paddings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 1px solid #ccc;
    border-top: none;
  }
  
header .logo h1  a {
    font-size: 60px;
    font-weight: bold;     
    text-transform: capitalize; 
    text-decoration: none;
    color: #f3770a;
}

header .logo h1  a:hover {
  transition: 600ms;
  color: #ff7700;
}

  header .nav ul {
    display: flex;
    list-style-type: none;
  }
  
  header .nav ul li {
    margin: 0 15px;
  }
  
  header .nav ul li a {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    color: #7d7878;
    font-weight: 400;
  }

  header .nav ul li a:hover {
    transition: 300ms;
    color: #f3770a;
  }
  
  
  header .icons a {
    margin: 0 15px 0 0;
    color: black;
    padding: 0 5px;
    text-decoration: none;
    font-size: 15px;
  }

  header .ShopArrow {
    margin-right: 10px;
  }
  
  .ShopArrow i {
    display: inline-block;
    animation: MoveArrow 1s ease-in-out infinite;
    padding-left: 1px;
}

@keyframes MoveArrow {
    0%, 100% {
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(2px);
    }
}


.cart-container {
  position: relative;
  display: inline-block;
}

#cart {
  color: #877d75;
}

#cart:hover {
  transition: 300ms;
  color: #f3770a;
}

.cart-badge {
    position: absolute;
    top: -13px;
    right: -8px;
    background-color:  #f3770a;
    color: #ffffff;
    font-size: 9px;
    font-weight: 700;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    display: flex
;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    letter-spacing: 1px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cart-container, .login-logout-box {
  display: flex;
  align-items: center;
  justify-content: center;
}


.login-logout-box span {
    padding: 0 5px;
    background: #f3770a;
    padding: 10px 8px;
    border-radius: 25px;
    color: #f8f8f8;
    font-size: 14px;
    font-weight: 500;
}

.login-register-box  span { 
  padding: 0 5px;
  background: #ffffff;
  padding: 10px 8px;
  border-radius: 25px;
  color: #f3770a;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #b1b0b0;
  text-decoration: none;
}

.logout-button {
  background: #f3770a;
  padding: 10px 8px;
  border-radius: 25px;
  color: #f8f8f8;
  font-size: 14px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

header .nav ul li a.active {
  color: #f3770a;
}

.login-logout {
    display: flex;
    gap: 25px;
    align-items: center;
}

.login-logout i {
  color: #877d75;
  cursor: pointer;
}

.favorite {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: #877d75;
  cursor: pointer;
}

.favorite  i:hover  {
  color: #f3770a;
  transition: 300ms;
}