<header>
  <div class="logo">
    <h1><a href="#">StyleStreet</a></h1>
  </div>
  <nav class="nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#" routerLink="/shop" class="ShopArrow">Shop  <i class="fa-solid fa-chevron-down"></i>  </a></li>
      <li><a href="#" routerLink="/about">About</a></li>
      <li><a href="#" routerLink="/contact">Contact</a></li>
      <li><a href="#" routerLink="/blog">Blog</a></li>
    </ul>
  </nav>
  <div class="icons">



    <a href="#" routerLink="/cart" class="cart-container">
      <i class="fa-solid fa-cart-shopping"></i>
      <span class="cart-badge" *ngIf="totalItens > 0">{{ totalItens }}</span>
    </a>
  

    <a href="#" routerLink="/login"><i class="fa-solid fa-user"></i></a>


  </div>
</header>
