<div class="checkout-container">

    <div class="progress-bar-container">
        <div class="progress-bar" [ngClass]="{'progress-30': currentStep === 1, 'progress-60': currentStep === 2, 'progress-100': currentStep === 3}"></div>
      </div>
      
    <div class="checkout-card">
      <div *ngIf="currentStep === 1">
        <h2>Informações de Residência</h2>
        <form>
          <label for="address">Endereço</label>
          <input type="text" id="address" [(ngModel)]="residenceInfo.address" name="address" placeholder="Digite seu endereço">
  
          <label for="city">Cidade</label>
          <input type="text" id="city" [(ngModel)]="residenceInfo.city" name="city" placeholder="Digite sua cidade">
  
          <label for="postalCode">CEP</label>
          <input type="text" id="postalCode" [(ngModel)]="residenceInfo.postalCode" name="postalCode" placeholder="Digite seu CEP">
        </form>
      </div>
  
      <div *ngIf="currentStep === 2">
        <h2>Informações de Pagamento</h2>
        <form>
          <label for="cardNumber">Número do Cartão</label>
          <input type="text" id="cardNumber" [(ngModel)]="paymentInfo.cardNumber" name="cardNumber" placeholder="Digite o número do cartão">
  
          <label for="expirationDate">Data de Expiração</label>
          <input type="text" id="expirationDate" [(ngModel)]="paymentInfo.expirationDate" name="expirationDate" placeholder="MM/AA">
  
          <label for="cvv">CVV</label>
          <input type="text" id="cvv" [(ngModel)]="paymentInfo.cvv" name="cvv" placeholder="Código de segurança">
        </form>
      </div>
  
      <div *ngIf="currentStep === 3">
        <h2>Resumo do Pedido</h2>
        <p><strong>Endereço:</strong> {{ residenceInfo.address }}, {{ residenceInfo.city }}, {{ residenceInfo.postalCode }}</p>
        <p><strong>Cartão:</strong> {{ paymentInfo.cardNumber }}</p>
        <button class="submit-btn" (click)="sendOrderToDatabase()">Finalizar Pedido</button>
      </div>
  
      <div class="navigation-buttons">
        <button *ngIf="currentStep > 1" (click)="prevStep()">Voltar</button>
        <button *ngIf="currentStep < 3" (click)="nextStep()">Avançar</button>
      </div>
    </div>
  </div>
  