<div class="order-history-container">
  <h1>Order History Hello <strong>{{ username }}</strong>! Welcome Back!</h1>

  <div class="order-box" *ngFor="let order of groupedOrders">
    

    <div class="order-header" (click)="toggleOrderDetails(order.orderId)">
      <strong>Order ID: {{ order.orderId }}</strong>
      <button>{{ orderVisibility[order.orderId] ? 'Hide Order' : 'Show Order' }}</button>
    </div>
    

    <div [ngClass]="{'order-details': true, 'show': orderVisibility[order.orderId]}" class="order-details">
      <table class="order-table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Value</th>
            <th>Order Date</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let product of order.products">
            <td>{{ product.product_name }}</td>
            <td>{{ product.product_quantity }}</td>
            <td>{{ product.product_price | currency }}</td>
            <td>{{ product.total_product_value | currency }}</td>
            <td>{{ order.orderDate | date }}</td>
          </tr>


          <tr>

            <td colspan="3"><strong>Total</strong></td>
            <td>{{ order.totalValue | currency }}</td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
