.order-history-container {
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-history-container h1 {
  font-size: 40px;
  color: #555;
}

.order-history-container h1 strong {
  font-size: 80px;
  color: #f3770a;
}

.order-box {
  border: 1px solid #e0e0e0;
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  transition: color 0.3s ease;
}

.order-header:hover {
  color: #f3770a;
}

.order-table td img {
  width: 40px; 
  height: 40px; 
  object-fit: cover;  
  border-radius: 4px;  
  margin-right: 10px; 
}


button {
  background-color: #f3770a;
  color: white;
  border: none;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #fcc18d;
}

@media (max-width: 768px) {
  .order-box {
    padding: 10px;
  }

  .order-header {
    font-size: 14px;
  }

  button {
    padding: 6px 15px;
    font-size: 12px;
  }
}


.order-details {
  margin-top: 10px;
  padding: 20px; 
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  border-radius: 8px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.order-details.show {
  max-height: 100vh;  
  opacity: 1;
  overflow: visible;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;  
}

tr {
  font-weight: 500;
  color: #b7abab;
}

.order-table th,
.order-table td {
  padding: 15px 20px; 
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 16px;  
}

.order-table th {
  background-color: #f4f4f4;  
  font-weight: 600;
  color: #333;
}

.order-table td {
  font-size: 14px;
}

.order-table td strong {
  font-size: 16px;
  color: #333;
}

.order-table tr:nth-child(even) {
  background-color: #f9f9f9;  
}

.order-table tr:last-child td {
  border-bottom: none; 
}
