.page-info {
  height: 570px;
  width: 100%;
  background: url('https://cdn.discordapp.com/attachments/1280989997394165951/1354090590840688691/image.png?ex=67e406a2&is=67e2b522&hm=0b70f80548aa0734d65a2721c56cf1017abb4a055dc349c703755993f51d8bf1&');
  background-size: cover;
}


.product-container {
  display: flex;
  gap: 30px;  
  justify-content: center;
  align-items: center;
  margin: 30px;
}


.product-image-carousel {
  display: flex;
  flex-direction: column;
  overflow: hidden;  
}

.selectors {
  font-size: 30px;
  font-weight: 500;
}

.image-item {
  cursor: pointer;

}

.image-item img {
  width: 60px; 
  height: 60px;  
  object-fit: cover;  
  transition: transform 0.3s ease; 
}


.product-image {
  flex: 1;  
  max-width: 500px;  
}

.product-image-main {
  width: 100%; 
  height: auto;  
  border-radius: 8px;  
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 20px;  
  max-width: 400px;  
  flex: 1; 
}

.product-title {
  font-size: 36px; 
  font-weight: bold;
  margin-bottom: 10px;
}

.product-title  a {
  color: #f3770a;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.option {
  margin-bottom: 10px;
}

.size-options, .color-options {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.size, .color {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}


.size {
  font-size: 20px;
}

.color-options {
  display: flex;
  gap: 10px;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.quantity input {
  width: 50px;
  padding: 5px;
  margin-left: 10px;
}

.price {
  font-size: 45px;
  font-weight: bold;
  color: #333;
}

.add-to-cart {
  background-color: #f3770a;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 35px;
  width: 135px;
  font-size: 20px;
}

.add-to-cart:hover {
  transition: 600ms;
  background-color: #f1744e;
}

.quantity {
  display: flex;
    align-items: center;
    justify-content: start;
}

.description-container {
  position: relative;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.show-more-btn {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.show-more-btn:hover {
  background-color: #ddd;
}

.input-box {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box  h5 {
  color: #333;
  font-size: 20px;
  padding: 2px 22px;
  border: 1px solid #c9c5c5;
  border-radius: 30px;
  cursor: pointer;
}

.input-box button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 15px;
  background: none;
}


.add-to-cart-container {
  display: flex;
  align-items: center;  
  gap: 20px; 
}


.icon-bubbles {
  display: flex;
  gap: 10px;  
}

.icon-bubble {
  width: 45px;
    height: 45px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.icon-bubble:hover {
  transition: 600ms;
  background-color: #f0f0f0;  
}

.icon-bubble i {
  font-size: 20px;  
  color: #f3770a;  
}
