<div *ngIf="cartExists; else noItems">
  <div class="container">
    <table class="order-table">

      <tbody>
        <tr *ngFor="let item of cartItems; let i = index">
          <td><img class="product-image" [src]="item.image" alt="{{ item.p_name }}"></td>
          <td class="p-name">{{ item.p_name }}</td>
          <td class="p-quantity">{{ item.quantity }}</td>
          <td class="p-value"> {{ item.price  | currency }} </td>
        </tr>
          <td class="p-total">  {{ totalPrice  | currency }} </td> 
      </tbody>
    </table>
    
      <div class="finish">
      <button class="btn-finish"  routerLink="/checkout"> Checkout </button>
      <button class="btn-clean-cart"  (click)="resetCart()"> Clean Cart </button>
    </div>

  </div>
</div>

<ng-template #noItems>
  <div class="cart-empty-template">
    <h1>Your cart is empty </h1>

    <h3 routerLink="/shop">  <i class="fa-solid fa-arrow-left"></i> Back </h3>

  </div>
</ng-template>
